<?xml version="1.0"?>
<robot name="cube" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find CRoCS)/urdf/cube_macro.xacro"/>
  <!-- <xacro:include filename="$(find CRoCS)/urdf/camera.xacro"/> -->
  <xacro:include filename="$(find CRoCS)/urdf/apriltag_marker.urdf.xacro" />

  <xacro:arg name="robot_name" default="cube1"/>
  <xacro:arg name="rotate" default="0.0"/>
  <xacro:property name="temp" value="$(arg rotate)"/>
  <xacro:property name="rotate" value="${temp * pi / 180}"/>

  <!-- Add cube -->
  <xacro:cube name="$(arg robot_name)"/>

  <!-- Add April Tags -->
  <xacro:apriltag_marker namespace="$(arg robot_name)" name="left_tag_05" ID="05" size="0.15243"> 
    <origin xyz="0 ${0.15243/2 + 0.001} ${0.15243/2 + 0.004}" rpy="${pi/2} 0 ${pi} " />
  </xacro:apriltag_marker>

  <xacro:apriltag_marker namespace="$(arg robot_name)" name="right_tag_05" ID="05" size="0.15243">
    <origin xyz="0 ${-(0.15243/2 + 0.001)} ${0.15243/2 + 0.004}" rpy="${-pi/2} ${pi}  ${pi} " />
  </xacro:apriltag_marker>

  <!-- Add wheels -->
  <xacro:wheel  direction="left" name="$(arg robot_name)"/>
  <xacro:wheel  direction="right" name="$(arg robot_name)"/>

  <!-- Add caster -->
  <xacro:caster name="$(arg robot_name)"/>

  <!-- Add camera-->
  <xacro:cam name="$(arg robot_name)"/>

  <!-- Gazebo plugin for ROS Control -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/$(arg robot_name)</robotNamespace>
      <robotParam>$(arg robot_name)/robot_description</robotParam>
    </plugin>
  </gazebo>
</robot>