<launch>
  <arg name="robot_name" default="cube"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="rotate" default="0"/>
  <arg name="model" default="$(find CRoCS)/urdf/cube.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find CRoCS)/rviz/$(arg robot_name).rviz" />
  <arg name="rviz" default="false"/>
  <arg name="control" default="false"/>
  <arg name="sim" default="false"/>

  <param name="tf_prefix" value="$(arg robot_name)_tf" />

  <!-- Set cube urdf as a parameter -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model) robot_name:='$(arg robot_name)' rotate:='$(arg rotate)'" />

  <!-- Spawn cube with provided position and name -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
    args="-x $(arg x_pos) -y $(arg y_pos) -z 0.5 -unpause -urdf -model $(arg robot_name) -param robot_description" respawn="false" output="screen" />

  <!-- robot_state_publisher to publish robot's state to tf for rviz -->
  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="state_publisher" >
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="cube_cube_tf" args="0 0 0 0 0 0 $(arg robot_name) $(arg robot_name)_tf/$(arg robot_name)_dummy 100" />

  <!-- Launch rviz with preset settings -->
  <node if="$(arg rviz)" name="$(arg robot_name)_rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

  <!-- Params for diff driving with odom -->
  <rosparam command="load" file="$(find CRoCS)/config/joints.yaml" ns="joint_state_controller" />
  <rosparam command="load" file="$(find CRoCS)/config/diffdrive.yaml" ns="diff_drive_controller" />

  <!-- Match variable parameters in diffdrive.yaml to match with the corresponding robot name -->
  <param name="/$(arg robot_name)/diff_drive_controller/right_wheel"  value="$(arg robot_name)_right_wheel_joint"/>
  <param name="/$(arg robot_name)/diff_drive_controller/left_wheel"  value="$(arg robot_name)_left_wheel_joint"/>
  <param name="/$(arg robot_name)/diff_drive_controller/base_frame_id"  value="$(arg robot_name)"/>

  <!-- Joint velocity is in angular velocity, w = v/r -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
    args="joint_state_controller
          diff_drive_controller"/>

  <!-- Control the robot -->
  <node if="$(arg control)" name="rqt_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="diff_drive_controller/cmd_vel"/>
  </node>

  <node if="$(arg control)" pkg="CRoCS" name="cam" type="cam.py" output="screen">
      <param name="robot_name" value="$(arg robot_name)" />
      <param name="sim" value="$(arg sim)" />
  </node>
  
  <node if="$(arg control)" pkg="CRoCS" name="localization" type="localization.py" output="screen">
      <param name="robot_name" value="$(arg robot_name)" />
  </node>

  <node if="$(arg control)" pkg="CRoCS" name="square" type="square.py" output="screen">
      <param name="robot_name" value="$(arg robot_name)" />
  </node>

  
</launch>
