<launch>
    <!-- Params for diff driving with odom -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find CRoCS)/worlds/demo.sdf"/>
    </include>

    <env name="GAZEBO_MODEL_PATH" value="$GAZEBO_MODEL_PATH:$(find CRoCS)/models"/>

    <rosparam command="load" file="$(find CRoCS)/config/input.yaml" ns="cbs_input" />

    <!-- Joint velocity is in angular velocity, w = v/r -->
    <node name="cbs" pkg="CRoCS" type="cbs.py" output="screen"/>

    <!-- BEGIN CUBE 1 -->
    <group ns="cube1">
        <include file="$(find CRoCS)/launch/cube.launch">
        <arg name="robot_name" value="cube1"/>
        <arg name="x_pos" value="$(eval 8.0 * 15.0 / 39.37)"/>
        <arg name="y_pos" value="$(eval 10.0 * 15.0 / 39.37)"/>
        <arg name="theta" value="0.0"/>
        <arg name="rviz" value="false"/>
        
        <arg name="sim" value="true"/>
        <arg name="drive" value="true"/>
        </include>
    </group>

    <group ns="cube2">
        <include file="$(find CRoCS)/launch/cube.launch">
        <arg name="robot_name" value="cube2"/>
        <arg name="x_pos" value="$(eval 5.0 * 15.0 / 39.37)"/>
        <arg name="y_pos" value="$(eval 4.0 * 15.0 / 39.37)"/>
        <arg name="theta" value="0.0"/>
        <arg name="rviz" value="false"/>
        
        <arg name="sim" value="true"/>
        <arg name="drive" value="true"/>
        </include>
    </group>

    <group ns="cube3">
        <include file="$(find CRoCS)/launch/cube.launch">
        <arg name="robot_name" value="cube3"/>
        <arg name="x_pos" value="$(eval 1.0 * 15.0 / 39.37)"/>
        <arg name="y_pos" value="$(eval 8.0 * 15.0 / 39.37)"/>
        <arg name="theta" value="0.0"/>
        <arg name="rviz" value="false"/>
        
        <arg name="sim" value="true"/>
        <arg name="drive" value="true"/>
        </include>
    </group>

    <group ns="cube4">
        <include file="$(find CRoCS)/launch/cube.launch">
        <arg name="robot_name" value="cube4"/>
        <arg name="x_pos" value="$(eval 3.0 * 15.0 / 39.37)"/>
        <arg name="y_pos" value="$(eval 10.0 * 15.0 / 39.37)"/>
        <arg name="theta" value="0.0"/>
        <arg name="rviz" value="false"/>
        
        <arg name="sim" value="true"/>
        <arg name="drive" value="true"/>
        </include>
    </group>

    <group ns="cube5">
        <include file="$(find CRoCS)/launch/cube.launch">
        <arg name="robot_name" value="cube5"/>
        <arg name="x_pos" value="$(eval 7.0 * 15.0 / 39.37)"/>
        <arg name="y_pos" value="$(eval 8.0 * 15.0 / 39.37)"/>
        <arg name="theta" value="0.0"/>
        <arg name="rviz" value="false"/>
        
        <arg name="sim" value="true"/>
        <arg name="drive" value="true"/>
        </include>
    </group>

    <group ns="cube6">
        <include file="$(find CRoCS)/launch/cube.launch">
        <arg name="robot_name" value="cube6"/>
        <arg name="x_pos" value="$(eval 3.0 * 15.0 / 39.37)"/>
        <arg name="y_pos" value="$(eval 5.0 * 15.0 / 39.37)"/>
        <arg name="theta" value="0.0"/>
        <arg name="rviz" value="false"/>
        
        <arg name="sim" value="true"/>
        <arg name="drive" value="true"/>
        </include>
    </group>

    <group ns="cube7">
        <include file="$(find CRoCS)/launch/cube.launch">
        <arg name="robot_name" value="cube7"/>
        <arg name="x_pos" value="$(eval 7.0 * 15.0 / 39.37)"/>
        <arg name="y_pos" value="$(eval 3.0 * 15.0 / 39.37)"/>
        <arg name="theta" value="0.0"/>
        <arg name="rviz" value="false"/>
        
        <arg name="sim" value="true"/>
        <arg name="drive" value="true"/>
        </include>
    </group>

    <!-- <arg name="node_start_delay" default="5.0" />   -->
    <node pkg="CRoCS" name="path_planning" type="path_planning.py" output="screen"/> 
    <!-- <node name="visualize" pkg="CRoCS" type="visualize.py" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " output="screen"/> -->


</launch>