<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find CRoCS)/worlds/demo.sdf"/>
  </include>

  <env name="GAZEBO_MODEL_PATH" value="$GAZEBO_MODEL_PATH:$(find CRoCS)/models"/>

  <!-- BEGIN CUBE 1 -->
  <group ns="cube1">
    <include file="$(find CRoCS)/launch/cube.launch">
      <arg name="robot_name" value="cube1"/>
      <arg name="x_pos" value="0.0"/>
      <arg name="y_pos" value="0.0"/>
      <arg name="theta" value="0.0"/>
      <arg name="rviz" value="false"/>
      <arg name="control" value="true"/>
      <arg name="localization" value="false"/>
      <arg name="sim" value="true"/>
      <arg name="drive" value="false"/>
    </include>
  </group>

  <group ns="cube2">
    <include file="$(find CRoCS)/launch/cube.launch">
      <arg name="robot_name" value="cube2"/>
      <arg name="x_pos" value="0.0"/>
      <arg name="y_pos" value="0.5"/>
      <arg name="theta" value="0.0"/>
      <arg name="rviz" value="false"/>
      <arg name="control" value="true"/>
      <arg name="localization" value="false"/>
      <arg name="drive" value="false"/>
    </include>
  </group>

  <group ns="cube3">
    <include file="$(find CRoCS)/launch/cube.launch">
      <arg name="robot_name" value="cube3"/>
      <arg name="x_pos" value="0.0"/>
      <arg name="y_pos" value="1.0"/>
      <arg name="theta" value="0.0"/>
      <arg name="rviz" value="false"/>
      <arg name="control" value="true"/>
      <arg name="localization" value="false"/>
      <arg name="drive" value="false"/>
    </include>
  </group>

  <group ns="cube4">
    <include file="$(find CRoCS)/launch/cube.launch">
      <arg name="robot_name" value="cube4"/>
      <arg name="x_pos" value="0.0"/>
      <arg name="y_pos" value="1.5"/>
      <arg name="theta" value="0.0"/>
      <arg name="rviz" value="false"/>
      <arg name="control" value="true"/>
      <arg name="localization" value="false"/>
      <arg name="drive" value="false"/>
    </include>
  </group>

  <group ns="cube5">
    <include file="$(find CRoCS)/launch/cube.launch">
      <arg name="robot_name" value="cube5"/>
      <arg name="x_pos" value="0.0"/>
      <arg name="y_pos" value="2.0"/>
      <arg name="theta" value="0.0"/>
      <arg name="rviz" value="false"/>
      <arg name="control" value="true"/>
      <arg name="localization" value="false"/>
      <arg name="drive" value="false"/>
    </include>
  </group>

  <group ns="cube6">
    <include file="$(find CRoCS)/launch/cube.launch">
      <arg name="robot_name" value="cube6"/>
      <arg name="x_pos" value="0.0"/>
      <arg name="y_pos" value="2.5"/>
      <arg name="theta" value="0.0"/>
      <arg name="rviz" value="false"/>
      <arg name="control" value="true"/>
      <arg name="localization" value="false"/>
      <arg name="drive" value="false"/>
    </include>
  </group>

  <group ns="cube7">
    <include file="$(find CRoCS)/launch/cube.launch">
      <arg name="robot_name" value="cube7"/>
      <arg name="x_pos" value="0.0"/>
      <arg name="y_pos" value="3.0"/>
      <arg name="theta" value="0.0"/>
      <arg name="rviz" value="false"/>
      <arg name="control" value="true"/>
      <arg name="localization" value="false"/>
      <arg name="drive" value="false"/>
    </include>
  </group>

</launch>
