<launch>
    <!-- Params for diff driving with odom -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find CRoCS)/worlds/demo_test.sdf"/>
    </include>

    <env name="GAZEBO_MODEL_PATH" value="$GAZEBO_MODEL_PATH:$(find CRoCS)/models"/>

    <group ns="cube1">
        <include file="$(find CRoCS)/launch/cube.launch">
        <arg name="robot_name" value="cube1"/>
        <arg name="x_pos" value="$(eval 5.0 * 15.0 / 39.37)"/>
        <arg name="y_pos" value="$(eval 6.0 * 15.0 / 39.37)"/>
        <arg name="theta" value="0.0"/>
        <arg name="rviz" value="false"/>
        
        <arg name="sim" value="true"/>
        <arg name="drive" value="true"/>
        </include>
    </group>

    <group ns="cube2">
        <include file="$(find CRoCS)/launch/cube.launch">
        <arg name="robot_name" value="cube2"/>
        <arg name="x_pos" value="$(eval 6.0 * 15.0 / 39.37)"/>
        <arg name="y_pos" value="$(eval 10.0 * 15.0 / 39.37)"/>
        <arg name="theta" value="0.0"/>
        <arg name="rviz" value="false"/>
        
        <arg name="sim" value="true"/>
        <arg name="drive" value="true"/>
        </include>
    </group>

  </launch>